body {
    font-family: 'Roboto', sans-serif;
    background-color: #aebbcf;
}

#mainpane {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 75vh;
    max-height: 100vh;
    background-color: #aebbcf;
}

.controlpane {
    border: 0.5vh groove gray;
    border-radius: 1vh;
}

#titlepane {
    position: absolute;
    top: 2vh;
    left: 4%;
    height: 4vh;
    width: 70%;
    background-color: navy;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 2.5vh;
    line-height: 4vh;
    color: white;
    border: 0.5vh solid navy;
    border-radius: 1vh;
}

#optionsbuttonpane {
    position: absolute;
    top: 2vh;
    right: 5%;
    width: 18%;
}

button.optionsbutton {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5vh;
    padding: 0;
    touch-action: manipulation;
    background-color: navy;
    text-align: center;
    font-size: 4vh;
    line-height: 4vh;
    color: white;
    border: 0.5vh outset blue;
    border-radius: 1vh;
}

#seltargetpane {
    position: absolute;
    top: 8vh;
    left: 4%;
    height: 15vh;
    width: 90%;
    background-color: #cedde2;
}

#selectiondiv {
    position: absolute;
    top: 0vh;
    left: 0%;
    width: 66%;
}

#selectiontitlediv {
    position: absolute;
    top: 0vh;
    left: 0%;
    font-size: 2vh;
    padding: 1vh;
}

#selectionboxdiv {
    position: absolute;
    top: 3vh;
    width: 100%;
    margin: 1vh;
}

#targetdiv {
    position: absolute;
    top: 0vh;
    left: 72%;
    width: 24%;
}

#targettitlediv {
    position: absolute;
    top: 0vh;
    left: 0%;
    font-size: 2vh;
    padding: 1vh;
}

#targetboxdiv {
    position: absolute;
    top: 3vh;
    margin: 1vh;
}

input.inputbox {
    position: relative;
    font-size: 3vh;
    height: 7vh;
    text-align: center;
    border: 1vh gray groove;
    border-radius: 2vh;
    background-color: blue;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 0;
    touch-action: manipulation;
}

#outputpane {
    position: absolute;
    top: 25vh;
    height: 19vh;
    left: 4%;
    width: 90%;
    background-color: #cedde2;
    overflow-y: scroll;
}

#answerdiv {
    position: absolute;
    padding: 1vh;
    height: 17vh;
    width: 96%;
    font-size: 2.5vh;
}

span.inexactanswer {
    color: #882200;
    font-weight: bold;
}

span.exactanswer {
    color: #008800;
    font-weight: bold;
}

div.answersummary {
    clear: both;
    margin: 1vh;
    margin-top: 2vh;
    font-size: 4vh;
}

div.answermethod {
    clear: both;
    margin: 1vh;
    font-size: 3vh;
}

div.answerprogress {
    font-size: 2.5vh;
    color: #444444;
}

div.answerfurthersolutions {
    position: absolute;
    top: 15vh;
    right: 3%;
    font-size: 2.5vh;
    text-align: right;
    color: #444444;
}

a.morelink {
    color: blue;
    cursor: pointer;
    touch-action: manipulation;
}

#keyboardpane {
    position: absolute;
    top: 46vh;
    left: 4%;
    height: 30vh;
    width: 90%;
    background-color: #cedde2;
}

div.keyboardrow {
    position: absolute;
    font-size: 0;
    white-space: nowrap;
    position: relative;
    padding: 0.5vh;
    width: 100%;
    touch-action: manipulation;
}

button.inputkey {
    white-space: nowrap;
    overflow: hidden;
    background-color: blue;
    color: white;
    font-size: 3.5vh;
    line-height: 3.5vh;
    width: 18.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 0;
    height: 9vh;
    text-align: center;
    border: 0.5vh groove gray;
    border-radius: 1vh;
    font-family: 'Roboto', sans-serif;
    touch-action: manipulation;
}

button.largenumkey {
    background-color: #0000bb;
}

#buttonbackspace {
    background-color: #cc0000;
}

#buttonpane {
    position: absolute;
    top: 78vh;
    left: 4%;
    height: 10vh;
    width: 90%;
}

button.mainbutton {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 10vh;
    font-size: 5vh;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 1vh;
    touch-action: manipulation;
}



#optionswindow {
    position: absolute;
    background-color: white;
    width: 92%;
    top: 8vh;
    left: 4%;
    height: 80vh;
    z-index: 1;
    font-size: 2.5vh;
    border-radius: 1vh;
    display: none;
}

div.windowmainscroll {
    position: absolute;
    max-height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

div.optionstitle {
    position: relative;
    padding: 2vh;
    font-size: 3vh;
    border-bottom: 1px solid gray;
    font-family: "Cabin", sans-serif;
}

div.optionscontrol {
    position: relative;
    padding: 2vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border-bottom: 1px solid gray;
}

div.optionscontroltitle {
    margin-bottom: 1.5vh;
    font-family: "Cabin", sans-serif;
}

div.optionscontrol input {
    touch-action: manipulation;
    float: left;
}

div.optionscontrol label {
    position: absolute;
    left: 6vh;
    display: block;
    line-height: 5vh;
    min-height: 5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    float: left;
    touch-action: manipulation;
}

div.optionscontrolradio {
    position: relative;
    min-height: 5vh;
    font-size: 1.8vh;
}

div.optionscontrolradio input {
    height: 4vh;
    width: 4vh;
}

div.optionstextlink {
    position: relative;
    width: 100%;
    min-height: 7vh;
    line-height: 7vh;
    cursor: pointer;
    touch-action: manipulation;
    font-family: "Cabin", sans-serif;
}

div.optionsdone {
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
}

#aboutwindow {
    position: absolute;
    display: none;
    z-index: 2;
    background-color: white;
    width: 92%;
    top: 8vh;
    left: 4%;
    height: 80vh;
    border-radius: 1vh;
}

#abouttext {
    position: absolute;
    padding: 4vh;
    max-height: 60vh;
    max-width: 100%;
    overflow-y: scroll;
    font-size: 2vh;
}

h1, h2, h3 {
    font-family: "Cabin", sans-serif;
    font-weight: normal;
}

#abouttext p {
    font-size: 2vh;
}
